:root {
    --primary-color: #000000;
    --second-color: #14213D;
    --third-color: #FCA311;
    --fortd-color: #E5E5E5;
    --white-color: #FFFFFF;
    --light-gra-color: #a1a1a1;
    --gap: 1.5rem;
}